body{
	margin: 0;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	flood-color: #555;
}
*{
	box-sizing: border-box;
}
h1, h2,h3,h4,h5,h6{
	margin: 0;
}

/* Container */
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.header{
	width: 100%;
	padding-top: 45px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  0 0 0 5px;
}
.header__logo{
	font-size: 34px;
	font-weight: 400;
	color: #fff;
	font-family: 'Raleway';
}
.header__img{
	padding: 0 12px;
}
/* Nav */
.nav{
	font-size: 14px;
	padding: 21px 12px;
}
.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 11px;
	color: #fff;
	text-decoration: none;
	transition: color .1s linear;
}
.nav span{
	padding: 20px;
}
.nav__link:hover {
color: #c7b299;
}

/* Slider */
.slider{
	
	width: 100%;
	height: 1035px;
	background: url(images/intro.jpg) no-repeat;
	background-position: center;
    background-size: cover;
}
.slider__inner{
	width: 600px;
	max-width: 600px;
	margin: 0 300px;
	padding: 375px 0;
	line-height: 1;
	text-align: center;
}
.slider__suptitle{
	font-size: 36px;
	font-family: 'Raleway';
	font-weight: 500;
	color: #fff;
	padding: 12px 0;

}
.slider__title{
	font-size: 52px;
	font-family: 'Raleway';
	font-weight: 800;
	color: #fff;
}
.slider__subtitle{
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	line-height: 1.5;
	padding: 18px 0;
}

/* Button */
.btn{
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	padding: 20px 37px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	background-color: #998675;
	border-bottom: 3px solid #736357;
	border-radius: 3px;
	transition: background .1s linear;
}
.btn:hover{
	background-color: #736357;
}

/* Services */
.services{
	
	display: flex;
	margin: 80px 0;

}
.services__item{
	width: 24%;
	display: inline-block;
	text-align: center;
	padding: 0 0;
}
.services__item:after{
	content: "";
	display: block;
	width: 70px;
	height: 4px;
	margin: 30px auto 0;
	background-color: #f1eee9;
}
.services__icon{
	margin-bottom: 15px;
}
.services__title{
	font-family: 'Raleway';
	font-size: 22px;
	font-weight: 600;
	color: #555555;
	margin-bottom: 15px;
}
.services__text{
	font-size: 14px;
	font-weight: 300;
	color: #555555;
}
.services__item:hover .services__title{
	color: #c7b299;
}
/* Content */
.content{
	background: url(images/content.jpg) no-repeat;
	background-position: center;
    background-size: cover;
    height: 700px;
	color: #555555;
	text-align: center;
}
.contant__block{
	padding: 75px 0 30px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	line-height: 1;
	text-align: center;
}
.content__title{
	font-family: 'Raleway';
	font-size: 30px;
	font-weight: 600;
	padding:  0 0 30px;
}
.content__text{
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}

/* Footer */
.footer{
	display: flex;
	background: linear-gradient(to right, #1e1412, #543020);
}
.footer__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__item{
	justify-content: space-between;
	align-items: center;
	width: 49%;
	display: inline-block;
	padding: 40px 15px;
}
.footer__text{
	float: left;
}
.footer__title{
	font-family: 'Raleway';
	font-size: 28px;
	font-weight: 400;
color: #fff;
}
.footer__logo{
color: #baa68f;
}
.footer__text{
	font-size: 18px;
	font-weight: 300;
	color: #615855;
}
.footer__btn{

	float: right;
}
.btn2{
	display: inline-block;
	vertical-align: top;
	padding: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	background-color: #998675;
	border-bottom: 3px solid #736357;
	border-radius: 3px;
	transition: background .1s linear;
}
.btn2:hover{
	background-color: #736357;
}